<div class="jumbotron" style="background-color:#f9f8f4; border:solid #1c293f">
  <% Time.zone = 'Eastern Time (US & Canada)' %>
  <p> The current time is: <%= Time.zone.now.strftime("%I:%M %p")%> </p>


  <div class="jumbotron">
    <% if @allTrainsNotDeparted.length > 0  %>
      <p> Time leaving origin: <%= @userSelectedFromStop %> </p>
        <h2><%= @allTrainsNotDeparted[0].strftime("%I:%M %p") %></h2>
    <% else %>
      <h2> All trains have departed </h2>
    <% end %>
  </div>

  <p> Full schedule: </p>
   <% @allTrains.each do |element| %>
     <li><%= element.strftime("%I:%M %p") %></li>
   <% end %>


</div>
