<h1 class="brand-heading">Get Go</h1>
<p class="intro-text">GO transit schedule finder for all Toronto Commuters.</p>
<%= link_to 'Login', login_path, class: 'btn btn-info btn-lg' %>
<%= link_to 'Continue as Guest', visitors_path, class: 'btn btn-success btn-lg' %>
<!-- <a href="#about" class="btn btn-circle page-scroll">
    <i class="fa fa-angle-double-down animated"></i>
</a> -->
