<div class="jumbotron" id="preferred_route">
  <%#= @response %>
  <%#= @routes %>
  <%= form_tag({ controller: "preferences", action: "create"}, { method: "post", remote: true, datatype: 'script' }) do %>
    <%= label_tag('preference[route]', "Select a route:") %>
    <%= select_tag('preference[route]', options_for_select(@routes), id: 'route_select') %>

    <%= submit_tag "Submit form", class: "btn btn-success" %>
  <% end %>

  <%#= form_tag controller: "preferences", action: "create", method: "POST" do %>
    <%#= label_tag() %>

</div>
